h1 {
    font-size: 72px;
    font-family:sans-serif;
    border-color: brown;
    border-style:dashed;
    border-width: 10px;
}
h2 {
    font-size: 72px;
    font-family:serif;
    border-width: 1px;
    border-color:blueviolet;
    border-style:dotted;
}